* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --amarelo: #F3BD02;
    --azul: #0d2b4b;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.top-header {
    padding-left: 15px;
    height: 40px;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 11px;
    color: rgb(211, 211, 211);
    width: 100vw;
    justify-content: space-between;
    background-color: var(--azul);
}

.top-header, .top-header-right, .top-header-left {
    align-items: center;
    display: flex;
}

.top-header-left p {
    margin-right: 15px;
}

.img-top-header {
    width: 12px;
    height: 12px;
}

.top-header-left {
    margin-right: 30px;
}

.icons {
    margin-right: 15px;
    display: flex;
}

.img-top-header {
    margin-right: 7px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


.logo {
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 7px;
    width: 38px;
}

.logo-link {
    color: var(--azul);
    text-decoration: none;
}


.lista {
    display: flex;
    align-items: center;
}

.lista ul {
    display: flex;
    list-style: none;
}

.lista ul li a{
    font-weight: 500;
    text-decoration: none;
    color: #0d2b4b;
    padding-right: 30px;
}

.lista ul li a:hover {
    transition: all 0.2s ease;
    color: var(--amarelo);
}

.botao_header {
    font-size: 15px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: var(--amarelo);
    width: 200px;
    height: 80px;
}

.botao_header:hover {
    transition: all 0.2s ease;
    background-color: #ffc800;
}

.section_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 700px;
    background-image: url('./assets/woman\ car.png');
}

.section_2_content {
    display: flex;
    width: 600px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 25px;
}

.section_2 h1 {
    color: white;
    margin-bottom: 20px;
}

.section_2 .buttons {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.section_2 .botao_amarelo,
.section_2 .botao_branco {
    cursor: pointer;
    width: 150px;
    height: 40px;
    color: white;
    border: none;
}

.section_2 .botao_amarelo {
    background-color: var(--amarelo);
}

.section_2 .botao_amarelo:hover {
    transition: all 0.2s ease;
    background-color: #ffc800;
}

.section_2 .botao_branco:hover {
    transition: all 0.2s ease;
    background-color: #ededed;
}

.section_2 .botao_branco {
    background-color: white;
    color: black;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 300px;
}

.section-3-left h4 {
    color: var(--amarelo);
    margin-bottom: 10px;
}

.section-3-left h2{
    font-size: 35px;
    font-weight: 900;
    letter-spacing: .5px;
    color: var(--azul);
    margin-bottom: 20px;
}

.section-3-left p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-right: 40px;
}

.checks {
    display: flex;
}

.check-left {
    display: flex;
    flex-direction: column;
}


.img-text img {
    width: 35px;
    height: 35px;
}

.img-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.img-text h1 {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

.section-3-right img {
    width: 600px;
}

.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.section-4 h4 {
        color: var(--amarelo);
        margin-bottom: 10px;
}

.section-4 h1 {
    font-size: 35px;
    font-weight: 900;
    letter-spacing: .5px;
    color: var(--azul);
    margin-bottom: 20px;
}

.cards {

    display: flex;
    width: 100%;
    padding: 20px 300px;
    justify-content: space-between;
}

.card {
    background-color: rgb(216, 216, 216);
}

.card img {
    width: 300px;
}

.card-text h5 {
    color: var(--azul);
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 10px;
}

.card-text p {
    color: rgb(117, 117, 117);
    margin-bottom: 15px;
}

.footer {
    margin-top: 200px;
    padding: 30px 300px;
    display: flex;
    color: white;
    background-color: var(--azul);
    justify-content: space-between;
}

.footer-text h1 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.logo-2 {
    margin-bottom: 30px;
}

.logo-link-2 {
    text-decoration: none;
}

.local, .cell {
    margin-bottom: 20px;
}

.local, .cell, .email {
    font-weight: 300;
}

.footer .infos img{
    width: 20px;
}

.logo-2 {
    color: var(--amarelo);
    display: flex;
    align-items: center;
}

.logo-2 img{
    margin-right: 10px;
    width: 38px;
}

.infos img {
    margin-right: 13px;
}

.local, .cell, .email {
    display: flex;
}

.lista-footer {
    display: flex;
    flex-direction: column;
}

.footer-coluna-2 h1 {
    font-size: 24px;
    letter-spacing: 1px;
}

.lista-footer a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.footer-coluna-2 img {
    width: 10px;
}

.footer-coluna-4 h1 {
    font-size: 24px;
    letter-spacing: 1px;
}

.input input {
    outline: none;
    font-size: 17px;
    color: black;
    padding-left: 20px;
    border: none;
    width: 250px;
    height: 55px;
}

.input input::placeholder {
    font-size: 15px;
    color: grey;
}

.input button {
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
    background-color: var(--amarelo);
    color: white;
    border: none;
    margin-left: -4px;
    width: 90px;
    height: 55px;
}

.footer-coluna-4 h2 {
    margin-top: 20px;
}

.social {
    margin-top: 20px;
}

.social img {
    border: 1px solid white;
    padding: 7px;
    width: 35px;
}

.footer-2 {
    align-items: center;
    padding: 30px 300px;
    height: 70px;
    font-size: 15px;
    letter-spacing: .5px;

    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #092139;
}

.footer-2 span {
    color: var(--amarelo);
}